<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flashfotografy</title>
    <link href="/stylesheets/style1.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="menu logo-nav">
        <a href="/" class="logo">flashfotografy</a>
        <label class="menu-icon"><span class="fas fa-bars icomin"></span></label>
        <nav class="navigation">
          <ul>
            <li><a href="/login">Administrar</a></li>
            <li><a href="/nosotros">información</a></li>
            <li><a href="/destacados">Destacados</a></li>
            <li>captura tus mejores momentos</li>
          </ul>
        </nav>
      </div>
    </header>

<div class="slider">
  <ul>
    <li><img src="https://www.curso-fotografia-digital.com/images/blog/objetivos.jpg" alt="2" width="300" height="300"></li>
    <li><img src="https://i.pinimg.com/736x/19/4f/dc/194fdc11681c435d67f8f286c67d6de6.jpg" alt="2" width="300" height="300"></li>
    <li><img src="https://pro.sony/s3/2023/06/08104045/PTZ-and-Remote-Cameras_white-product-overlay.png" alt="2" width="300" height="300"></li>
  </ul>
</div>


  <div class="container-index">

    <div class="container-circulos">
      <div class="container-imagen">
        <img src="https://sigmatiendas.com/cdn/shop/products/Camara-Profesional-Canon-EOS-Rebel-T7-Con-Lente-18-55-mm-Angle.png?v=1671112796&width=600">
        <h2>Camaras canon</h2>
      </div>
      <div class="container-imagen">
        <img src="https://1.bp.blogspot.com/_HptBdp43X7I/TTSNDdE5SwI/AAAAAAAAAI0/8XKG2dfH5dw/w1200-h630-p-k-no-nu/CANON_SX30%255B1%255D.jpg" class="circulo">
        <h2>Semi profesionales</h2>
      </div>
      <div class="container-imagen">
        <img src="https://caracas.solutekla.com/photo/1/sony/camaras_profesionales/cmara_digital_sony_compacta_hx400v_con_zoom_ptico_de_50x/cmara_digital_sony_compacta_hx400v_con_zoom_ptico_de_50x_0001" class="circulo">
        <h2>Profesionales</h2>
      </div>
    </div>

    <div class="contenedor-columna">
      <div class="columna1">
        <h2>SOBRE FLASHFOTOGRAFY </h2>
        <p>toma tus propias fotografias, captura dellates increibles</p>
      </div>
      <div class="columna2">
        <img src="https://img.freepik.com/vector-premium/icono-camara-blanca-diseno-plano-ilustracion-vectorial-icono-camara-sombra-sobre-fondo-azul_118339-1160.jpg" alt="1" width="100" height="220">
      </div>
    </div>

  </div>


  <footer class="footer-section">
    <div class="copyright-area">
        <div class="container-footer">
            <div class="row-footer">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2023, todos los derechos reservados <a href="/view">flashfotografy/a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="/login">Administrar</a></li>
                            <li><a href="/nosotros">información</a></li>
                            <li><a href="/destacados">Destacados</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>   


    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script  src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script  src="assets/js/scripts.js"></script>
</body>
</html>